@font-face {
	font-family: "Proxima Nova";
	src: url("/proxima-nova.woff") format("woff");
	font-display: swap;
}

:root {
	--oh-gold: #dcc377;
	--oh-green: #525b31;
	--oh-translucent-green: rgba(82, 91, 49, 0.7);
	--oh-light-gray: #c8c9c2;
	--oh-gray: #707070;
	--oh-slate-gray: #1f1f1f;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	font-family: "Proxima Nova", sans-serif;
	color: var(--oh-gold);
}

body {
	background: var(--oh-green);
}
